<h1> LOG IN PLEASE </h1>

<%= @user.errors.full_messages %>
<br>

<form action="<%= session_url %>" method="POST">
  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">
  <label for="user_name"> Username</label>
  <input type="text" id="user_name" name="session[username]">
  <br>
  <label for="user_password"> Password</label>
  <input type="password" id="user_password" name="session[password]">
  <br>

  <input type="submit" value="Log In">


</form>
